export(getData)
export(getMockData)
export(GPReg1)
export(GPReg2)
export(prepAssoc)
export(getDoseFromVCF)
export(getP)
export(plotEffectSize)
export(getDynamicPGS)
export(getPublicData)
S3method(print,DynamicPGS)
S3method(plot,DynamicPGS)
S3method(print,PublicDynamicPGS)
