export(getData)
export(getMockData)
export(gpreg1)
export(gpreg2)
export(prep_assoc)
export(getDoseFromVCF)
export(getP)
export(plotEffectSize)
export(getDynamicPGS)
export(makePublicData)
S3method(print,DynamicPGS)
S3method(plot,DynamicPGS)
S3method(print,PublicDynamicPGS)
